{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/mpc/sub_wallet/get/address/list": {
      "post": {
        "description": "获取指定币种的充值地址",
        "requestBody": {
          "description": "请求参数",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/getAddress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "description": "返回数据",
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAddressRes"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "getAddress": {
        "required": [
          "symbol",
          "sub_wallet_id",
          "max_id"
        ],
        "type": "object",
        "properties": {
          "sub_wallet_id": {
            "description": "主钱包ID",
            "type": "integer"
          },
          "symbol": {
            "description": "需要充值的币种，例如: (USDT)",
            "type": "string"
          },
          "max_id": {
            "description": "需要查询的地址id，传0返回多个",
            "type": "integer"
          }
        }
      },
      "getAddressRes": {
        "properties": {
          "address": {
            "type": "string",
            "description": "创建的地址"
          },
          "addr_type": {
            "type": "integer",
            "description": "地址类型，可忽略， 1: 用户地址，2: 系统地址"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}